body {
	margin: 0px;
	
	/*background-image: url(http://images.akamai.steamusercontent.com/ugc/36373486556780031/BBDEDC8AD87441808D8FE4A68C5C8098C85169BB/);
	background-repeat: repeat;*/
	background-image: url(https://steamuserimages-a.akamaihd.net/ugc/868485179515987851/3A98310D56BE90E2705FAD05FF438B298524621B/);
	/*background-image: url(https://steamuserimages-a.akamaihd.net/ugc/550932579101067921/BF2EA05C47DF6DFFC72D43E44A4C3338DC5DFFAE/);*/
	/*background-image: url(https://steamuserimages-a.akamaihd.net/ugc/550932579097032246/4194AD1B1350B729D2415D118C1D565FF6DBF5FA/);*/
	/*background-image: url(http://more-sky.com/data/out/10/IMG_432580.jpg);*/
}