#tiles {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(125px, 1fr));
}

.tile_2x {
	grid-column: span 2;
	grid-row: span 2;
}

.tile_3x {
	grid-column: span 3;
	grid-row: span 3;	
}

.tile_4x {
	grid-column: span 4;
	grid-row: span 4;
}

.tiles_6x {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(6,1fr);
}

.tiles_12x {
	display: grid;
	grid-template-rows: repeat(12, 1fr);
	grid-template-columns: repeat(12,1fr);
}

.tile {
	position: relative;
	margin:0;
	padding:0;
}

.tile > a {
	display: flex;
}

.tile .filter {
	height:25%;
}

.tile-img {
	width:100%;
	height: 100%;
	object-fit: cover;
}

.tile-txt {
	text-align: center;
	height: 100%;
	vertical-align: 50%;

	color: white;

}

.tile-overlay {
	position: absolute;
	top: 0;
	right:0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	transition: .5s ease;
	background-color: black;
}

.tile-overlay-content {
	position: absolute;
	/*width: 10%;
	height: 10%;*/
	padding: 5%;
	right:0;
	top:0;
	opacity: 0;
	transition: 2s ease;
	/*transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);*/
}

/**********************
	ANIMATION TREE
**********************/
.tile .tile-overlay:hover{
	opacity: 0;
}
.tile .tile-overlay-content:hover {
	opacity: 1;
}